* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #61dafb;
}

.App {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.block-body {
  padding: 4rem;
}
