@use "./variables.scss" as v;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: v.$background-color;
}

.App {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.block-body {
  padding: 4rem;
  height: 95vh;
  /* temp styles pending assess if remove this from main app */
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

p {
  color: v.$p-font-color;
}
