* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040404;
}

.App {
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.block-body {
  padding: 4rem;
  height: 95vh;
  /* temp styles pending assess if remove this from main app */
  min-height: 100vh;
  height: auto;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.footer {
  display: flex;

  margin: auto;
  padding-bottom: 1rem;
}

.footer-div {
  display: flex;
  justify-content: flex-end;
}

p {
  color: #ada8bc80;
}
