$background-color: #040404;
$p-font-color: #ada8bc80;
$header-background-color: #ffffff08;
$logo-color: white;
$footer-text-color: $p-font-color;
$nav-link: #919fad;
$nav-link-hover: #919fad;
$h-font-family: "Audiowide", serif;
